html{
    padding:60px 100px 60px 100px ;
    margin:20px;


}

#line {
    border: 0 solid;
    border-top: 1px   ;
    border-bottom:10px;
    height: 1px;
    margin-top: -11px;
    /*border-bottom: 20px;*/
    margin-left:2px;
    width: 1000px;
}

#topic{
    width:1000px;
    height:40px;
    margin-top:25px;

    /*padding-top:3px;*/
    background-color: transparent;
    /*background-color: red;*/
    background-color:gray;
    border:1px;

}

.space1{
    margin:167px;
}
.space2{
    padding:52px;
}
.space3{ padding:162px;}
.text1,.text2,.text3,.text4,.text5,.text6,.text7,.text8{
    /*border-bottom:1px solid;*/
    /*border-top:0;*/
    /*border-left:0;*/
    /*border-right:0;*/
    border:0;
    border-bottom:1px solid;

}
.line1{

    margin:0;padding:0; width:20%;height:1px;background-color:#000000;overflow:hidden;margin-top: 15px;
}

.text1,.text2,.text3,.text4,#a input{  text-align:center;  }
.para{line-height:170%;}
.finish{
    background: pink;;
    padding-left:130px;}

.whole{
    padding-left:40px;}
